/lgshopapp/admin/config.php
/lgshopapp/config.php
/lgshopapp/storage-out/
/lgshopapp/.htaccess
/lgshopapp/catalog/model/tool/image.php
/lgshopapp/storage-out/logs/error.log
/lgshopapp/php.ini
/lgshopapp/image/


/lgshopapp/!index.html

/lgshopapp/download/
/lgshopapp/image/data/
/lgshopapp/image/cache/

/lgshopapp/system/storage/cache/*

# vQmod log files
/lgshopapp/vqmod/logs/*
# vQmod cache files
/lgshopapp/vqmod/vqcache/*
/lgshopapp/vqmod/checked.cache
/lgshopapp/vqmod/mods.cache

/losguerradb/db/*
