.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


/opencartapp/!index.html

/opencartapp/download/

/opencartapp/system/storage/cache/*
storageout/store/cache/*
storageout/store/cache/template/*

# vQmod log files
/opencartapp/vqmod/logs/*
# vQmod cache files
/opencartapp/vqmod/vqcache/*
/opencartapp/vqmod/checked.cache
/opencartapp/vqmod/mods.cache

/opencartapp/system/storage/logs/error.log
/opencartapp/system/storage/logs/error.log
/opencartapp/image/cache/*