/opencartapp/admin/config.php
/opencartapp/config.php


/opencartapp/!index.html

/opencartapp/download/

/opencartapp/system/storage/cache/*
storageout/store/cache/*
storageout/store/cache/template/*

# vQmod log files
/opencartapp/vqmod/logs/*
# vQmod cache files
/opencartapp/vqmod/vqcache/*
/opencartapp/vqmod/checked.cache
/opencartapp/vqmod/mods.cache

opencartdb/db/

/opencartapp/system/storage/logs/error.log
opencartapp/system/storage/logs/error.log
opencartapp/gerencia/config.php
/opencartapp/image/cache/*
/.vs/*
/.vscode/*
.vs/ProjectSettings.json
.gitignore
.vs/*
.vscode/*